.cart {
    border-width: 5px;      
    border-style: solid;      
    width: 250px;             
    height: 400px;            
    border-color: rgb(0, 0, 0);
    border-radius: 15px;
    margin-left: 50px;
    margin-bottom: 20px;
    
}
#cartContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tshirt{
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.info{

}
.title{

}
.buttons{

}
.img{
    width: 100%;
}
.button{
    background-color: #0d0640;
    border-radius: 5px;
    color: aliceblue;
    height: 35px;
}
.buttons{
display: flex;
align-items: center;
justify-content: space-around;
padding-top: 15px;
}
.name{
    font-size: 20px;
    font-weight: 700;
    color: #0d0640;
}
.title{
    display: flex;           
    flex-direction: column;   
    padding-left: 10%;
}
.subtitle{
    padding-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    
}
#maintext{
    margin-left: 50px;
}
#quickViewImage{
    height: 100px;
    width: 100px;
}
.picture{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.description{
    margin-left: 10px;
}
.quick{
    height: 140px;
    margin: 0px;
    padding: 0px;
}
.modal-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: aquamarine;
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 150px;

}
.close{
    background-color: #0d0640;
    border-radius: 5px;
    color: aliceblue;
    height: 35px;
}
